 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

/*-----------------
COLORS AND FONTS
-----------------*/

$font-main: "Helvetica Neue", Helvetica, Arial, sans-serif;
$chat-text: #000000;
$logo-text: #FFFFFF;
$footer-text: #FFFFFF;

$logo-bg: #000000;
$chat-input-bg: #0095D1;
$user-sidebar-bg: #959595;
$chat-output-bg: #ECF0F1;
$footer-bg: #000000;


/*---------
STYLES
---------*/

.chat-container {
	width: 100%;
	height: 100px;
}

.logo {
	width: 25%;
	height: 100px;
	float: left;
	background: $logo-bg;
	color: $logo-text;
}

.chat-input {
	width: 75%;
	height: 100px;
	float: right;
	background: $chat-input-bg;
}

input[type="submit"] {
  
}

.main-container {}

.user-sidebar {
	width: 25%;
	float: left;
	background: $user-sidebar-bg;
}

.chat-output {
	width: 75%;
	float: right;
	background: $chat-output-bg;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: $footer-bg;
	color: $footer-text;
}













