<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>JS Chat</title>
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <script src="../bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
    <div class="chat-container">
      <div class="logo"></div>
      <div class="chat-input"></div>
    </div>
    <div class="main-container">
      <div class="user-sidebar"></div>
      <div class="chat-output"></div>
    </div>
  <footer>
    <p>some stuff can go here :)</p>
  </footer>

  <!-- this is the chat output template -->
  <script type="text/template" class="chat-output-template">
    <div>
      <p class="chat-output-name"><%= name %></p>
      <p class="chat-output-picture"><%= picture %></p>
      <p class="chat-output-message"><%= message %></p>
      <p class="chat-output-date"><%= date %></p>
    </div>
  </script>

  <!-- this is the user sidebar template -->
  <script type="text/template" class="user-sidebar-template">
    <div>
      <p class="user-sidebar-name"><%= name %></p>
      <p class="user-sidebar-picture"><%= picture %></p>
      <p class="user-sidebar-msg_count"><%= msg_count %></p>
    </div>
  </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="scripts/main.js"></script>
</body>
</html>